<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Lionel.Messi.css">
    <title>Scratch Page - Lionel Messi</title>
    
</head>
<body id="top">

<header>
    <h1>Lionel Messi</h1>
    <h3>The Short King of Football</h3>
    <!-- Menu Button (Hamburger Icon) -->
    <div class="menu-container">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> <!-- Hamburger icon -->
        <!-- Dropdown Menu -->
        <div class="dropdown-content">
            <a href="index.html">Home</a>
            <a href="about_me.html">About Me</a>
            <a href="education.html">Education</a>
            <a href="experience.html">Experience</a>
            <a href="skills.html">Skills</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="nested-list">
        <h2>Accomplishments throughout his career</h2>
        <ol>
            <li>
                <strong>Trophies Won with Barcelona, PSG, and Inter Miami</strong>
                <ul>
                    <li>Champions League x4</li>
                    <li>La Liga x10</li>
                    <li>Copa Del Rey x7</li>
                    <li>Club World Cup x3</li>
                    <li>European Super Cup x3</li>
                    <li>Supercopa de España x8</li>
                    <li>Ligue 1 x2</li>
                    <li>Trophée des Champions x1</li>
                    <li>Leagues Cup x1</li>
                </ul>
            </li>
            <li>
                <strong>Trophies won with Argentina National Team</strong>
                <ul>
                    <li>Copa América x1</li>
                    <li>U-20 World Cup x1</li>
                    <li>FIFA World Cup x1</li>
                    <li>Beijing Olympics Gold Medal x1</li>
                    <li>Finalissima x1</li>
                </ul>
            </li>
            <li>
                <strong>Individual Awards</strong>
                <ul>
                    <li>Ballon d'Or x8</li>
                    <li>FIFA World Player x1</li>
                    <li>The Best Award x3</li>
                    <li>European Golden Shoe x6</li>
                    <li>Laureus World Sports Awards x2</li>
                    <li>Pichichi La Liga x8</li>
                    <li>MVP La Liga x9</li>
                    <li>Champions Top Scorer x6</li>
                    <li>FIFA FIFPro x1</li>
                    <li>World Cup Golden Ball x2</li>
                    <li>Men's Player of the Year x2</li>
                    <li>Golden Boy x1</li>
                    <li>MVP Copa America x2</li>
                    <li>Onze d'Or x4</li>
                    <li>Bravo Award x1</li>
                </ul>
            </li>
            <li>
                <strong>Records</strong>
                <ul>
                    <li>All-time top scorer at same club</li>
                    <li>FC Barcelona all-time top goalscorer</li>
                    <li>All-time top goalscorer in LaLiga</li>
                    <li>Top goalscorer in the 21st century</li>
                    <li>Top goalscorer in El Clásico</li>
                    <li>Guinness World Record as top goalscorer for club (91 goals)</li>
                    <li>All-time top scorer of national teams in South America</li>
                    <li>MVP of the 2014 World Cup and the 2022 World Cup</li>
                    <li>Most games played as a Barcelona player in its history</li>
                    <li>Most trophies won as a Barcelona player</li>
                    <li>Most goals in a LaLiga season (50 goals)</li>
                    <li>All-time top goalscorer in the Champions League with the same team</li>
                    <li>Most games played with Argentina in its history</li>
                    <li>Argentine with most honours</li>
                    <li>The game's all-time leading Argentine goalscorer</li>
                    <li>Argentina's all-time leading goalscorer</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<!-- Image Container -->
<div class="image-container">
    <img src="https://i.pinimg.com/736x/8d/df/f1/8ddff10f53dcfdc694c222c258ca42b8.jpg" alt="Photo of Messi">
    <img src="https://images.indianexpress.com/2023/12/Messi-World-Cup-.jpg" alt="Photo of Messi with the World Cup Trophy">
    <img src="https://icdn.football-espana.net/wp-content/uploads/2021/12/LionelMessi2-640x432.jpeg" alt="Photo of Messi with his 7/8 Ballon d'Ors">
</div>

<!-- Video of Lionel Messi -->
<h3>Video of Lionel Messi's Career Highlights</h3>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ht1wQJTpNAA?si=8TXu6kNPxQD_A8F3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<!-- Tableau Embed -->
<div class="tableau-container">
    <div class='tableauPlaceholder' id='viz1734411851084'>
        <noscript>
            <a href='#'>
                <img alt='Tableau Visualization' src='https://public.tableau.com/static/images/Li/LionelMessi-Goals-Matches/Painel2/1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https://public.tableau.com/' />
            <param name='embed_code_version' value='3' />
            <param name='name' value='LionelMessi-Goals-Matches/Painel2' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https://public.tableau.com/static/images/Li/LionelMessi-Goals-Matches/Painel2/1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
        </object>
    </div>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1734411851084');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if (divElement.offsetWidth > 800) {
            vizElement.style.width = '100%'; // Full width
            vizElement.style.height = '800px'; // Set a larger height
        } else if (divElement.offsetWidth > 500) {
            vizElement.style.width = '100%'; // Full width
            vizElement.style.height = '800px'; // Set a larger height
        } else {
            vizElement.style.width = '100%'; // Full width
            vizElement.style.height = '1250px'; // Adjusted for smaller screens
        }
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</div>

<!-- Link to Messi quiz -->
<a href="Messi.game.html" class="messi-quiz-link">How well do you know Messi?</a>

<!-- Anchor Link -->
<div class="anchor-section">
    <a href="#top" class="anchor-link">Back to Top</a>
</div>

<footer>
    &copy; Lance Taylor 2024 - All Rights Reserved.
</footer>

</body>
</html>
